<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

<display-name>SP Sample Application</display-name>

<context-param>
    <param-name>configuration-path</param-name>
    <param-value>configuration/</param-value>
</context-param>
<context-param>
    <param-name>sp-adapter-configuration</param-name>
    <param-value>sp-adapter-configuration.properties</param-value>
</context-param>

<servlet>
    <servlet-name>SpSampleServlet</servlet-name>
    <servlet-class>com.pingidentity.sample.servlet.SpSampleServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>SpSampleServlet</servlet-name>
    <url-pattern>/app</url-pattern>
</servlet-mapping>

<error-page>
    <error-code>400</error-code>
    <location>/error.jsp</location>
</error-page>

<error-page>
    <error-code>404</error-code>
    <location>/notFound.jsp</location>
</error-page>

<error-page>
    <error-code>405</error-code>
    <location>/error.jsp</location>
</error-page>

<error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
</error-page>

<security-constraint>
    <web-resource-collection>
        <web-resource-name>Restricted Access - Get and POST Only</web-resource-name>
        <url-pattern>/*</url-pattern>
        <!--
            Remove all the http methods below
        -->
        <http-method>DELETE</http-method>
        <http-method>PUT</http-method>
        <http-method>HEAD</http-method>
        <http-method>OPTIONS</http-method>
        <http-method>TRACE</http-method>
    </web-resource-collection>
    <auth-constraint/>
</security-constraint>

</web-app>
